# Zones

In [78]:
import geopandas as gpd

In [79]:
gpd.list_layers('data/zonegrid.zip')

       name geometry_type
0  zonegrid       Polygon

In [80]:
zonegrid = gpd.read_file('data/zonegrid.zip')
zonegrid.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    456 non-null    int64
 1   ZONEMAPNAM  456 non-null    object
 2   TOWNSHIP    456 non-null    object
 3   RANGE       456 non-null    object
 4   SECTIONNUM  456 non-null    int64
 5   REFERENCE   456 non-null    int64
 6   MILESEAST   456 non-null    object
 7   MILESNORTH  456 non-null    object
 8   PAGE        456 non-null    object
 9   UPCPREFIX   456 non-null    object
 10  FULLZONEMA  456 non-null    object
 11  ADDATLASPD  456 non-null    object
 12  ZONEATLASP  456 non-null    object
 13  ADDCABQ     456 non-null    object
 14  ZONECABQ    456 non-null    object
 15  created_us  0 non-null      object
 16  created_da  0 non-null      datetime64[ms]
 17  last_edite  456 non-null    object
 18  last_edi_1  456 non-null    datetime64[ms]
 19  STAr        456 non-null    float64
 20  STLe        456 non-null    float64
 21  geometry    456 non-null    geometry
dtypes: datetime64[ms](2), float64(2), geometry(1), int64(3), object(14)
memory usage: 78.5+ KB

In [81]:
zonegrid.drop(columns=[
    'STLe', 'STAr', 'last_edi_1', 'last_edite', 
    'created_da', 'created_us'
], inplace=True)
zonegrid.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    456 non-null    int64
 1   ZONEMAPNAM  456 non-null    object
 2   TOWNSHIP    456 non-null    object
 3   RANGE       456 non-null    object
 4   SECTIONNUM  456 non-null    int64
 5   REFERENCE   456 non-null    int64
 6   MILESEAST   456 non-null    object
 7   MILESNORTH  456 non-null    object
 8   PAGE        456 non-null    object
 9   UPCPREFIX   456 non-null    object
 10  FULLZONEMA  456 non-null    object
 11  ADDATLASPD  456 non-null    object
 12  ZONEATLASP  456 non-null    object
 13  ADDCABQ     456 non-null    object
 14  ZONECABQ    456 non-null    object
 15  geometry    456 non-null    geometry
dtypes: geometry(1), int64(3), object(12)
memory usage: 57.1+ KB

In [82]:
len(zonegrid.ZONEMAPNAM.unique())

456

In [83]:
for c in zonegrid.columns: 
    print(f'{c}: {len(zonegrid[c].unique())}')

OBJECTID: 456
ZONEMAPNAM: 456
TOWNSHIP: 5
RANGE: 4
SECTIONNUM: 36
REFERENCE: 1
MILESEAST: 24
MILESNORTH: 19
PAGE: 456
UPCPREFIX: 456
FULLZONEMA: 456
ADDATLASPD: 203
ZONEATLASP: 266
ADDCABQ: 2
ZONECABQ: 2
geometry: 456

In [84]:
zonegrid.rename(columns=dict(
    ZONEATLASP = 'ZonePDF', 
    ZONECABQ = 'isCityProvidedZonePDF', 
    ADDATLASPD = 'AddressPDF', 
    ADDCABQ = 'isCityProvidedAddressPDF'
), inplace=True)
zonegrid.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   OBJECTID                  456 non-null    int64
 1   ZONEMAPNAM                456 non-null    object
 2   TOWNSHIP                  456 non-null    object
 3   RANGE                     456 non-null    object
 4   SECTIONNUM                456 non-null    int64
 5   REFERENCE                 456 non-null    int64
 6   MILESEAST                 456 non-null    object
 7   MILESNORTH                456 non-null    object
 8   PAGE                      456 non-null    object
 9   UPCPREFIX                 456 non-null    object
 10  FULLZONEMA                456 non-null    object
 11  AddressPDF                456 non-null    object
 12  ZonePDF                   456 non-null    object
 13  isCityProvidedAddressPDF  456 non-null    object
 14  isCityProvidedZonePDF     456 non-null    object
 15  geometry                  456 non-null    geometry
dtypes: geometry(1), int64(3), object(12)
memory usage: 57.1+ KB

In [85]:
zonegrid[['FULLZONEMA', 'ZONEMAPNAM']]

    FULLZONEMA ZONEMAPNAM
0       B-16-Z        B16
1       G-07-Z         G7
2       H-01-Z         H1
3       C-05-Z         C5
4       H-16-Z        H16
..         ...        ...
451     U-09-Z         U9
452     P-21-Z        P21
453     K-14-Z        K14
454     C-03-Z         C3
455     Q-10-Z        Q10

[456 rows x 2 columns]

In [86]:
zonegrid.rename(columns=dict(
    FULLZONEMA = 'LongMapName', 
    ZONEMAPNAM = 'ZoneMapName'
), inplace=True)

In [87]:
zonegrid.RANGE.unique()

array(['R3E', 'R2E', 'R1E', 'R4E'], dtype=object)

In [88]:
zonegrid.rename(columns=dict(
    SECTIONNUM = 'Section', 
    RANGE = 'Range', 
    TOWNSHIP = 'Township'
), inplace=True)
zonegrid.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   OBJECTID                  456 non-null    int64
 1   ZoneMapName               456 non-null    object
 2   Township                  456 non-null    object
 3   Range                     456 non-null    object
 4   Section                   456 non-null    int64
 5   REFERENCE                 456 non-null    int64
 6   MILESEAST                 456 non-null    object
 7   MILESNORTH                456 non-null    object
 8   PAGE                      456 non-null    object
 9   UPCPREFIX                 456 non-null    object
 10  LongMapName               456 non-null    object
 11  AddressPDF                456 non-null    object
 12  ZonePDF                   456 non-null    object
 13  isCityProvidedAddressPDF  456 non-null    object
 14  isCityProvidedZonePDF     456 non-null    object
 15  geometry                  456 non-null    geometry
dtypes: geometry(1), int64(3), object(12)
memory usage: 57.1+ KB

In [89]:
zonegrid.REFERENCE.unique()

array([1])

In [90]:
zonegrid.drop(columns=['REFERENCE', 'MILESEAST', 'MILESNORTH'], inplace=True) 
zonegrid.rename(columns=dict(PAGE='Page', UPCPREFIX='UPCPrefix'), inplace=True) 
zonegrid.Section = zonegrid.Section.astype(str) 
zonegrid.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   OBJECTID                  456 non-null    int64
 1   ZoneMapName               456 non-null    object
 2   Township                  456 non-null    object
 3   Range                     456 non-null    object
 4   Section                   456 non-null    object
 5   Page                      456 non-null    object
 6   UPCPrefix                 456 non-null    object
 7   LongMapName               456 non-null    object
 8   AddressPDF                456 non-null    object
 9   ZonePDF                   456 non-null    object
 10  isCityProvidedAddressPDF  456 non-null    object
 11  isCityProvidedZonePDF     456 non-null    object
 12  geometry                  456 non-null    geometry
dtypes: geometry(1), int64(1), object(11)
memory usage: 46.4+ KB

In [91]:
zonegrid = zonegrid.to_crs(4267)

In [92]:
zonegrid.to_file('../../../data/local/abq_city_data.gpkg', layer='zonegrid')

In [93]:
zonegrid.to_file('../../../localData/City/zonegrid.gpkg')