# Parks

In [1]:
import geopandas as gpd

In [2]:
gpd.list_layers('data/parks.zip')

    name geometry_type
0  parks       Polygon

In [3]:
parks = gpd.read_file('data/parks.zip').to_crs(4267)

In [5]:
parks.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    295 non-null    int64
 1   ParkName    295 non-null    object
 2   ParkStatus  295 non-null    object
 3   CrossStree  295 non-null    object
 4   ParkAddres  287 non-null    object
 5   TennisCour  294 non-null    object
 6   Basketball  294 non-null    object
 7   Baseball    294 non-null    object
 8   FieldSport  294 non-null    object
 9   Bocce       294 non-null    object
 10  DiscGolf    294 non-null    object
 11  Pickleball  294 non-null    object
 12  HorseShoes  294 non-null    object
 13  SkatePark   294 non-null    object
 14  Handball    294 non-null    object
 15  PlayStruct  294 non-null    object
 16  DogPark     294 non-null    object
 17  ExerciseSt  294 non-null    object
 18  ShadedPicn  294 non-null    object
 19  ShadedSeat  294 non-null    object
 20  ShadedPlay  294 non-null    object
 21  WalkingPat  294 non-null    object
 22  Tables      294 non-null    object
 23  Jumpers     294 non-null    object
 24  ModelAircr  294 non-null    object
 25  URL         0 non-null      object
 26  created_us  14 non-null     object
 27  created_da  14 non-null     datetime64[ms]
 28  last_edite  295 non-null    object
 29  last_edi_1  295 non-null    datetime64[ms]
 30  u_id        295 non-null    object
 31  STAr        295 non-null    float64
 32  STLe        295 non-null    float64
 33  geometry    295 non-null    geometry
dtypes: datetime64[ms](2), float64(2), geometry(1), int64(1), object(28)
memory usage: 78.5+ KB

In [6]:
parks.drop(columns=[
    'STLe', 'STAr', 'last_edi_1', 'last_edite', 
    'created_da', 'created_us', 
    'u_id', 'URL'
], inplace=True)
parks.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    295 non-null    int64
 1   ParkName    295 non-null    object
 2   ParkStatus  295 non-null    object
 3   CrossStree  295 non-null    object
 4   ParkAddres  287 non-null    object
 5   TennisCour  294 non-null    object
 6   Basketball  294 non-null    object
 7   Baseball    294 non-null    object
 8   FieldSport  294 non-null    object
 9   Bocce       294 non-null    object
 10  DiscGolf    294 non-null    object
 11  Pickleball  294 non-null    object
 12  HorseShoes  294 non-null    object
 13  SkatePark   294 non-null    object
 14  Handball    294 non-null    object
 15  PlayStruct  294 non-null    object
 16  DogPark     294 non-null    object
 17  ExerciseSt  294 non-null    object
 18  ShadedPicn  294 non-null    object
 19  ShadedSeat  294 non-null    object
 20  ShadedPlay  294 non-null    object
 21  WalkingPat  294 non-null    object
 22  Tables      294 non-null    object
 23  Jumpers     294 non-null    object
 24  ModelAircr  294 non-null    object
 25  geometry    295 non-null    geometry
dtypes: geometry(1), int64(1), object(24)
memory usage: 60.1+ KB

In [7]:
parks.SkatePark.unique()

array(['n', 'y', None], dtype=object)

In [8]:
parks.ExerciseSt.unique()

array(['n', 'y', None], dtype=object)

In [9]:
parks[['ParkName', 'ParkStatus', 'CrossStree', 'ParkAddres']]

,ParkName,ParkStatus,CrossStree,ParkAddres
0,Hailey Ratliff Trails,Existing,Rainbow / Paseo Del Norte,7200 Tree Line Av NW
1,Mariposa Basin,Existing,Taylor Ranch / Kachina St,6701 Taylor Ranch Dr NW
2,Ross,Existing,San Mateo / Gibson,4801 Crest Av SE
3,Lynnewood,Existing,Los Arboles / Marie Park,2721 Marie Park Dr NE
4,Robinson,Existing,8th / Central,801 Central Av NW
...,...,...,...,...
290,Hunter's Run,Existing,Black Arroyo / Seven Bar,10300 Chandler Dr NW
291,Briar Ridge,Existing,Briar Ridge / Ventana Ranch Rd.,9801 Ventana Ranch Rd NW
292,Madison Middle School,Existing,Comanche / Moon,3501 Moon St NE
293,Lavaland,Existing,64th / Avalon,310 Coors Blvd NW
294,Sunrise Terrace,Existing,San Ygnacio / 102Nd St.,850 102nd St SW

In [10]:
parks.ParkStatus.unique()

array(['Existing', 'Proposed'], dtype=object)

In [11]:
len(parks[parks.ParkStatus == 'Proposed'])

14

In [12]:
parks_existing = parks[parks.ParkStatus == 'Existing']
parks_proposed = parks[parks.ParkStatus == 'Proposed']

In [13]:
parks_existing.to_file('../../../localData/City/parks.gpkg', 
                      layer='existing_parks')

In [14]:
parks_proposed.to_file('../../../localData/City/parks.gpkg', 
                      layer='proposed_parks')