# Streets

In [1]:
import geopandas as gpd

In [2]:
gpd.list_layers('data/netcurr.zip')

      name geometry_type
0  netcurr    LineString

In [3]:
streets = gpd.read_file('data/netcurr.zip').to_crs(4267)
streets.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 44451 entries, 0 to 44450
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    44451 non-null  int64
 1   FUNCTIONAL  44450 non-null  object
 2   LEFTLOW     44451 non-null  int64
 3   LEFTHIGH    44451 non-null  int64
 4   RIGHTLOW    44451 non-null  int64
 5   RIGHTHIGH   44451 non-null  int64
 6   STREETNAME  44445 non-null  object
 7   STREETDESI  39001 non-null  object
 8   STREETQUAD  40773 non-null  object
 9   ALTERNATES  1144 non-null   object
 10  ALTERNATED  33 non-null     object
 11  COMMENTS    3467 non-null   object
 12  ENTERDATE   3701 non-null   object
 13  created_us  2238 non-null   object
 14  created_da  2239 non-null   datetime64[ms]
 15  last_edite  7990 non-null   object
 16  last_edi_1  7991 non-null   datetime64[ms]
 17  Jurisdicti  44451 non-null  object
 18  STLe        44451 non-null  float64
 19  geometry    44451 non-null  geometry
dtypes: datetime64[ms](2), float64(1), geometry(1), int64(5), object(11)
memory usage: 6.8+ MB

In [4]:
streets.iloc[55]

OBJECTID                                                1387470
FUNCTIONAL                                                    4
LEFTLOW                                                    4200
LEFTHIGH                                                   4280
RIGHTLOW                                                   4201
RIGHTHIGH                                                  4279
STREETNAME                                                  2ND
STREETDESI                                                   ST
STREETQUAD                                                   SW
ALTERNATES                                               NM 303
ALTERNATED                                                 None
COMMENTS                                                   None
ENTERDATE                                                  None
created_us                                                 None
created_da                                                  NaT
last_edite                                             TGAULDEN
last_edi_1                                  2023-12-27 00:00:00
Jurisdicti                                               County
STLe                                                1462.985779
geometry      LINESTRING (-106.65870373514477 35.02200489587...
Name: 55, dtype: object

In [5]:
streets.drop(columns=['STLe', 'last_edi_1', 'last_edite', 'ENTERDATE',
                      'created_da', 'created_us', 'created_us'], 
            inplace=True)

In [6]:
streets.rename(columns={
    'FUNCTIONAL': 'Functional', 
    'LEFTLOW': 'LeftLowAddress', 
    'LEFTHIGH': 'LeftHighAddress', 
    'RIGHTLOW': 'RightLowAddress', 
    'RIGHTHIGH': 'RightHighAddress', 
    'STREETNAME': 'Name', 
    'STREETDESI': 'Designation', 
    'STREETQUAD': 'Quadrant', 
    'ALTERNATES': 'AlternateName', 
    'ALTERNATED': 'AlternateDesignation', 
    'COMMENTS': 'Comments',
    'Jurisdicti': 'Jurisdiction'
}, inplace=True)

In [7]:
streets.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 44451 entries, 0 to 44450
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OBJECTID              44451 non-null  int64
 1   Functional            44450 non-null  object
 2   LeftLowAddress        44451 non-null  int64
 3   LeftHighAddress       44451 non-null  int64
 4   RightLowAddress       44451 non-null  int64
 5   RightHighAddress      44451 non-null  int64
 6   Name                  44445 non-null  object
 7   Designation           39001 non-null  object
 8   Quadrant              40773 non-null  object
 9   AlternateName         1144 non-null   object
 10  AlternateDesignation  33 non-null     object
 11  Comments              3467 non-null   object
 12  Jurisdiction          44451 non-null  object
 13  geometry              44451 non-null  geometry
dtypes: geometry(1), int64(5), object(8)
memory usage: 4.7+ MB

In [8]:
streets.iloc[516]

OBJECTID                                                          1379219
Functional                                                              2
LeftLowAddress                                                       1887
LeftHighAddress                                                      1899
RightLowAddress                                                      1886
RightHighAddress                                                     1898
Name                                                             BROADWAY
Designation                                                          BLVD
Quadrant                                                               NE
AlternateName                                                        None
AlternateDesignation                                                 None
Comments                                                             None
Jurisdiction                                                         City
geometry                LINESTRING (-106.64054504124995 35.10249797109...
Name: 516, dtype: object

In [10]:
streets.to_file('../../../data/local/abq_city_data.gpkg', 
               layer='streets')
streets.to_file('../../../localData/City/streets.gpkg')